.font-effect-fire-animation {
    text-shadow: 0 3px 10px #fefcc9,
    5px -7px 15px #feec85,
    -10px -7px 20px #ffae34,
    10px -17px 25px #ec760c,
    -10px -27px 30px #cd4606,
    0 -37px 35px #973716,
    5px -42px 40px #451b0e;
}

/*.font-effect-fire-animation span {*/
/*    --duration: 1s;*/
/*    --delay: 0s;*/
/*    animation: animation var(--duration) ease-in-out var(--delay) infinite alternate;*/
/*}*/

/*.font-effect-fire-animation span {*/
/*    text-shadow: 0 3px 10px #fefcc9,*/
/*    5px -7px 15px #feec85,*/
/*    -10px -7px 20px #ffae34,*/
/*    10px -17px 25px #ec760c,*/
/*    -10px -27px 30px #cd4606,*/
/*    0 -37px 35px #973716,*/
/*    5px -42px 40px #451b0e;*/
/*}*/

/*.font-effect-fire-animation span:after {*/
/*    content: attr(text);*/
/*    text-shadow: 0 3px 10px #fefcc9,*/
/*    5px -2px 15px #fefcc9,*/
/*    -10px -7px 20px #feec85,*/
/*    11px -18px 30px #ffae34,*/
/*    -11px -26px 25px #ec760c,*/
/*    0 -38px 40px #cd4606,*/
/*    5px -42px 40px  #973716;*/

/*    animation-direction: alternate-reverse;*/
/*}*/

/*@keyframes animation {*/
/*    0% {*/
/*        opacity: 100%;*/
/*    }*/
/*    100% {*/
/*        opacity: 0%;*/
/*    }*/
/*}*/



/****************************/
/** Fire button **/
/****************************/

.fire-btn {
    overflow: visible;
}

.fire-btn:hover {
    -webkit-animation: burn 1000ms ease-out forwards;
    animation: burn 1000ms ease-out forwards;
}
/*.fire-btn::before {*/
.fire-btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #ffe66e33;
    border-radius: 20px;
    animation: flare 1000ms ease-out forwards;
}
.fire-btn:hover::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 100%;
    height: 100%;
    background: #ffe66e33;
    border-radius: 20px;
    -webkit-animation: flare 1000ms ease-out forwards;
    animation: flare 1000ms ease-out forwards;
}

@keyframes flare {
    100% {
        transform: translateY(-20px) scale(1.5);
        filter: blur(10px);
        opacity: 0;
    }
}
@keyframes burn {
    0% {
        box-shadow: 0 0 5px 0 #c8000a, 0 0 5px 0 rgba(230, 30, 10, 0.8), 0 0 5px 0 rgba(230, 230, 10, 0.6);
    }
    100% {
        box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0), 0 -30px 30px 10px rgba(230, 30, 10, 0), 0 -20px 10px 0 rgba(255, 255, 10, 0);
    }
}
