@media screen and (max-width: 1600px) {
    .d-sch {
        /* background: url("../img/dicn.png") no-repeat scroll right 30px top 20px rgba(0, 0, 0, 0); */
        display: inline-block;
        float: left;
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: 6px;
        padding: 25px 72px;
        text-transform: uppercase;
        width: 50%;
        background-size: 6%;
    }

    .fb {
        /* background: url("../img/fbicn.png") no-repeat scroll left 30px top 18px rgba(0, 0, 0, 0); */
        border-left: 1px solid #c8c8c8;
        display: inline-block;
        float: left;
        font-size: 0.8em;
        font-weight: bold;
        letter-spacing: 6px;
        padding: 25px 55px;
        text-align: left;
        text-transform: uppercase;
        width: 50%;
        background-size: 6%;
        padding-left: 72px;
    }
}

@media screen and (max-width: 1440px) {

    .features-wrapper {
        padding: 60px 0;
    }

    /*
    .d-sch {
        background: url("../img/dicn.png") no-repeat scroll right 30px top 28px rgba(0, 0, 0, 0);

    }
    .fb {
        background: url("../img/fbicn.png") no-repeat scroll left 30px top 27px rgba(0, 0, 0, 0);
    }
    */
}

@media screen and (max-width: 1366px) {

    body {
        font-size: 12px;
    }

    /*
    .fb {
        background: url("../img/fbicn.png") no-repeat scroll left 30px top 13px / 6% auto rgba(0, 0, 0, 0);
        padding: 10px 72px;
    }
    .d-sch {
        background: url("../img/dicn.png") no-repeat scroll right 30px top 13px / 6% auto rgba(0, 0, 0, 0);
        padding: 10px 72px;
    }
    */
}

@media screen and (max-width: 1200px) {
    .block-hover {
        height: 250px;
    }

    .landing-text-pos {
        margin-top: -50px;
    }

    .grid-gal .gallery-3d {
        background-position: 0 -25vw;
    }

    .features-md {
        margin: 0 auto;
        overflow: hidden;
        display: block;
        clear: both;
        text-align: center;
        float: none;
    }

    .home-sign {
        bottom: -80px;
        max-height: initial;
        height: 500px;
    }
}

@media screen and (max-width: 1024px) {

    body {
        font-size: 14px;
    }

    .landing-text-pos h1 {
        font-size: 3em;
    }

    .icon {
        line-height: 0.9;
    }

    .planContainer .button a {
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    }

    .super-volunteer, .subscribe {
        background-attachment: scroll;
    }

    /** Menu**/
    .contact-details {
        margin: 41px 0 33px 0px;
    }

    #slider1_container {
        margin: 27px auto 0;
    }

    .pricing-wrap {
        margin-top: 31px;
    }

    .speakers-wrap {
        padding: 41px 0 0;
    }

    .bottom-spacing {
        margin-bottom: 40px;
    }

    .btn-effect-send:after {
        display: none;
    }

    .btn-effect:hover:after,
    .btn-effect:active:after {
        display: none;
    }

    #get_directions.btn-effect:after,
    #get_directions.btn-effect:hover:after,
    #get_directions.btn-effect:active:after {
        display: none;
    }

    .home-bg {
        animation: none;
        -webkit-animation: none;
        -ms-animation: none;
        -o-animation: none;
    }
}

@media screen and (max-width: 992px) {
    .dropdown-content {
        display: none;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .collapse.in {
        width: 100%;
    }

    #example-navbar-collapse {
        float: none;
    }

    .header.header-hide {
        background: none repeat scroll 0 0 #0c040f;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        max-height: 100vh;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-nav {
        float: none !important;
        margin: 0 !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-header {
        height: 55px;
    }

    .navbar-toggle {
        margin-top: 11px;
    }

    .navbar-brand {
        height: 55px;
        padding: 12px;
        max-width: 70%;
    }

    .navbar-brand img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .navbar-default .navbar-toggle {
        border: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .home-sign {
        bottom: -60px;
        height: 400px;
        right: 20px;

        transform: rotate(10deg);
    }
}

@media screen and (min-width: 480px) and (max-width: 991px) {
    .legals {
        text-align: center;
        margin: 0;
        padding: 0;
    }


    .iphone, .fluid-white {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #example-navbar-collapse {
        float: none;
    }

    .header.header-hide {
        background: none repeat scroll 0 0 #0c040f;
    }

    /* Schedule social links */
    .d-sch {
        /* background: url("../img/dicn.png") no-repeat scroll right 52% top 2px rgba(0, 0, 0, 0);*/
        border-bottom: 1px solid #d3d3d3;
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 6px;
        padding: 0;
        text-transform: uppercase;
        width: 100%;
    }

    .d-sch.text-right {
        text-align: center;
    }

    .fb {
        /* background: url("../img/fbicn.png") no-repeat scroll right 52% bottom 15px rgba(0, 0, 0, 0);*/
        border: medium none;
        display: inline-block;
        float: left;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 6px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .d-sch .fa.fa-download {
        padding-left: 0;
    }

    .fb .fa.fa-facebook {
        padding-right: 0;
    }

    .event-download-padding {
        padding-left: 100px;
        padding-right: 100px;
    }

    /** Home Page **/
    .landing-text-pos p {
        padding: 0 3%;
    }

    .landing-text-pos h1 {
        padding: 0 3%;
    }

    /** Gallery **/
    .slideshow nav span.nav-prev, .slideshow nav span.nav-next {
        color: #fff;
    }

    .slideshow nav span.nav-close {
        color: #fff;
        right: 20px;
        top: 20px;
    }

    .features-wrapper .col-md-4 {
        margin-bottom: 8%;
        padding: 0 15%;
    }

    .section-padding {
        padding-bottom: 10%;
        padding-top: 10%;
    }

    .social-btn i {
        font-size: 1em;
    }

    .social-btn {

        height: 40px;
        line-height: 40px;
        width: 40px;
    }

    .planContainer .options li {
        line-height: 1.5em;
    }

    .box-hover:hover, .box-hover:focus {
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        -moz-box-shadow: 0 -1px 0 0 var(--color-primary);
        -webkit-box-shadow: 0 -1px 0 0 var(--color-primary);
        box-shadow: 0 -1px 0 0 var(--color-primary);
    }

    .box-hover {
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none
    }

    #contact p {
        margin: 0.5em 0;
    }

    .contact-details h2 {
        margin: 0.5em 0;
    }

    .social-btn i {
        font-size: 1.1em;
    }

    #slider1_container {
        width: 100% !important;
    }

    ul.slides .effects img {
        margin-bottom: 0;
    }

    ul.slides > li > div {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 12.5px;
    }

    .landing-text-pos h1 {
        font-size: 2.2em;
    }

    #title_hr {
        margin: 1.8em auto 2em;
    }

    .landing-text-pos p {
        font-size: 1.3em;
    }

    .learn-more-btn {
        padding: 12px;
        width: 160px;
    }

    #get_directions.learn-more-btn {
        padding: 15px;
        width: 200px;
    }

    .sp-dsc blockquote {
        margin: 5px 0;
    }

    blockquote p {
        font-size: 0.75em;
    }

    .slides li .col-md-4 {
        margin-bottom: 35px;
    }

    /** tnc pop up**/
    .md-content > div ul li {
        padding-left: 5px;
    }

    .md-content > div ul {
        margin-top: 20px;
        padding: 0 0 0 20px;
    }

    .md-content .sp-social ul {
        padding-left: 0;
    }

    .md-content > div {
        font-size: 1.11em;

    }

    .md-content h3 {
        font-size: 1.2em;
    }

    .md-show.md-effect-10 .md-content {
        padding: 25px;
    }

    .tc {
        margin-top: 8%;
    }

    .flex-control-nav {
        margin-top: 0;
    }

    .home-header-btn-container {
        margin-top: 1em;
    }

    .home-header-btn {
        width: 200px;
        font-size: 0.8em;
        padding: 10px;
    }

    .home-header-btn img {
        height: 3em;
    }
}

@media screen and (max-width: 640px) {

    .st-panel {
        background: #fff;
        overflow: scroll;
    }

    .st-panel h2 {
        font-size: 42px;
    }

    .st-panel p {
        width: 90%;
        left: 5%;
        margin-top: 0;
    }

    .st-container > a {
        font-size: 13px;
    }

}

@media screen and (max-width: 585px) {
    .md-content {
        height: 360px;

    }

    .folio {
        height: 360px;
        overflow-y: scroll;
    }

    #title_hr {
        margin: 1em auto 1.2em;
    }

    #home .learn-more-btn {
        margin: 1.7em auto 0;
    }

    .event-download-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 480px) {
    .legals {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .iphone, .fluid-white {
        display: none;
    }

    .tc {
        margin-top: 10%;
    }

    #get_directions.btn-effect {
        height: 43px;
        width: 200px;

    }

    #get_directions.learn-more-btn {
        padding: 12px;
    }

    .landing-text-pos h1 {
        font-size: 1.8em;
    }

    .landing-text-pos p {
        font-size: 1.1em;
    }

    .d-sch, .fb {
        padding: 25px 0;
    }

    .d-sch {
        font-size: 1em;
        letter-spacing: 3px;
    }

    .fb {
        font-size: 1em;
        letter-spacing: 3px;
    }
}


@media screen and (max-width: 384px) {

    body {
        font-size: 12px;
    }

    .landing-text-pos h1 {
        font-size: 2.7em;
    }

    h1.arrow {
        font-size: 1.85em;
    }

    .slideshow figcaption {
        padding-top: 50px;
    }

    .features-wrapper .col-md-4 {
        margin-bottom: 10%;
    }

    .slides .col-xs-6 {
        clear: both;
        display: block;
        float: none;
        margin: 0 auto 40px;
        overflow: hidden;
        text-align: center;
        width: 75%;
    }

    .slides .col-xs-6 overlay-effect {
        margin-bottom: -15px;
    }

    .tc {
        font-size: 13px;
    }

    .folio .avatar {
        border-radius: 50%;
        height: 140px;
        width: 140px;
        background-size: cover;
    }

    .social-btn i {
        font-size: 1.3em;
    }

    .md-content {
        height: 360px;
    }

    .folio {
        height: 360px;
        overflow-y: scroll;
    }

    .md-modal {
        min-width: 290px;
    }

    .event-download-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 360px) {
    .st-panel {
        background: #fff;
        overflow: scroll;
    }

    .st-container > a {
        font-size: 10px;
    }

    .landing-text-pos h1 {
        font-size: 2.2em;
    }

    .landing-text-pos p {
        font-size: 1.2em;
    }

    .section-padding {
        padding-bottom: 15%;
        padding-top: 15%;
    }

    .features-wrapper .col-md-4 {
        margin-bottom: 15%;
    }
}

@media screen and (max-width: 320px) {
    .d-sch {
        padding: 25px 0 25px;
        font-size: 1em;
        letter-spacing: 3px;
    }

    .fb {
        font-size: 1em;
        letter-spacing: 3px;
        padding-left: 0px;
        padding: 25px 0 0 0;
    }

}

/* Overrides for weekend app */
/* Force collapsed menu */

.weekend .dropdown-content {
    display: none;
}

.weekend .navbar-fixed-top .navbar-collapse,
.weekend .navbar-static-top .navbar-collapse,
.weekend .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.weekend .collapse.in {
    width: 100%;
    height: auto !important;
}

.weekend .collapse:not(.in) {
    height: 1px !important;
    display: none !important;
}

.weekend #example-navbar-collapse {
    float: none;
}

.weekend .header.header-hide {
    background: none repeat scroll 0 0 #0c040f;
}

.weekend .navbar-header {
    float: none;
}

.weekend .navbar-toggle {
    display: block;
}

.weekend .navbar-collapse {
    max-height: 100vh;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.weekend .navbar-nav {
    float: none !important;
    margin: 0 !important;
}

.weekend .navbar-nav > li {
    float: none;
}

.weekend .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.weekend .navbar-header {
    height: 55px;
}

.weekend .navbar-toggle {
    margin-top: 11px;
}

.weekend .navbar-brand {
    height: 55px;
    padding: 12px;
    max-width: 70%;
}

.weekend .navbar-brand img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.weekend .navbar-default .navbar-toggle {
    border: none;
}

.weekend .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

