.status {
    margin-top: 3em;
    position: relative;
}

#error {
    display: none;
    color: red;
}

#timetableHeader {
    white-space: pre-line;
}

#timetableContainer {
    display: none;
    width: 100%;
    padding: 0 30px;
}

.ttEntry {
    display: flex;
    width: 100%;

    font-size: 1.5em;
    margin-top: -5px;
}

.ttEntry>* {
    line-height: 1em;
    margin: 0.3em 0;
}

.ttTime {
    text-align: right;
    width: calc(50% - 3.5em);
    padding-right: 1em;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.ttActivity {
    text-align: left;
    width: calc(50% + 3.5em);
    padding-left: 1em
}

.spacer {
    height: 1em;
}

.nowHeader {
    font-size: 2em;
    color: var(--color-primary);
    margin-bottom: 0.5em;
}

.firstSpacer {
    height: 2em;
}

.presenterMode {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 94vh;
    width: 100vw;
    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 2.5vh;
}

.presenterMode hr:first-of-type {
    display: none;
}

.presenterMode h2 {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.presenterMode h2:first-of-type {
    margin-top: 0;
}

.presenterMode .ttEntry {
    font-size: 4vh;
}

.hh {
    color: #F90058;
}

.mm {
    color: #FFAD00;
}

.ss {
    color: #5FC5DB;
}

#announcements {
    display: none;
    padding: 1vh;
    font-size: 3.5vh;
    background: #ffffff22;
    color: #ddd;
}