
.intro {
    min-height: 90vh;
}

.intro img {
    padding-top: 0;
}

.centeredButtonContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
}

a.buttonContainer {
    margin: 1em 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding: 2em 1em;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.button {
    background: #383838dd;
    box-shadow: inset 20px 20px 40px #565656dd,
    inset -20px -20px 40px #1a1a1add,
    0px 0px 43px #1a1a1add;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2em);
    height: 100%;

    background: #383838dd;
    box-shadow: inset 20px 20px 40px #1a1a1add,
    inset -20px -20px 40px #565656dd,
    0px 0px 43px #1a1a1add;

    opacity: 0;
    margin: 0 1em;
    padding: 2em 2em;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button:hover:before {
    opacity: 1;
}

.button span {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: #fff;

    height: 3em;

    font-size: 1.6em;

    z-index: 2;
}

@media (max-width: 768px) {
    .button span {
        font-size: 1.2em;
    }
}

.imageContainer + span {
    height: 2em;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;

    margin-bottom: 2em;
}

.button .imageContainer img {
    height: 70px;
    width: 70px;

    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    -webkit-filter: invert(100%);
    filter: invert(100%);

    /*-webkit-filter: invert(100%) drop-shadow(0 1px 3px #fefcc9) drop-shadow(2px -3px 5px #feec85) drop-shadow(-3px -2px 6px #ffae34) drop-shadow(3px -6px 8px #ec760c) drop-shadow(-3px -9px 10px #cd4606) drop-shadow(0 -12px 12px #973716) drop-shadow(2px -14px 13px #451b0e);*/
    /*filter: invert(100%) drop-shadow(0 1px 3px #fefcc9) drop-shadow(2px -3px 5px #feec85) drop-shadow(-3px -2px 6px #ffae34) drop-shadow(3px -6px 8px #ec760c) drop-shadow(-3px -9px 10px #cd4606) drop-shadow(0 -12px 12px #973716) drop-shadow(2px -14px 13px #451b0e);*/
}

.button:hover .imageContainer img {
    -webkit-filter: invert(100%) drop-shadow(0 1px 3px #fefcc9) drop-shadow(2px -3px 5px #feec85) drop-shadow(-3px -2px 6px #ffae34) drop-shadow(3px -6px 8px #ec760c) drop-shadow(-3px -9px 10px #cd4606) drop-shadow(0 -12px 12px #973716) drop-shadow(2px -14px 13px #451b0e);
    filter: invert(100%) drop-shadow(0 1px 3px #fefcc9) drop-shadow(2px -3px 5px #feec85) drop-shadow(-3px -2px 6px #ffae34) drop-shadow(3px -6px 8px #ec760c) drop-shadow(-3px -9px 10px #cd4606) drop-shadow(0 -12px 12px #973716) drop-shadow(2px -14px 13px #451b0e);
}

section.weekend .normalColor .button .imageContainer img {
    -webkit-filter: unset;
    filter: unset;
}

section.weekend .normalColor .button:hover .imageContainer img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

@media (max-width: 768px) {
    .imageContainer img {
        height: 40px;
        width: 40px;
    }
}
